svg {
    overflow: visible;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.parameters {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#container {
    position: relative;
    width: 480px;
    height: 480px;
    margin: 0 auto;
    top: 10px;
    z-index: 10;
    border: 2px solid #c00;
}

#histo {
    position: absolute;
    left: 0;
    top: 120px;
    /*width: 480px;
    height: 480px;*/
    margin: 0 auto;
    border: 2px solid #999;
}


#plot {
    position: absolute;
    /*width: 480px;
    height: 480px;*/
    margin: 0 auto;
    top: 0;
    border: 2px solid #00f;
}

#canvas {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    top: 60px;
    left: 60px;
    border: 2px solid #0f0;
}

canvas {
        background-color: white;
        width: 360px;
        height: 360px;
        border-radius: 10px;
	border: 2px solid #ccc;
      }

#text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}


.canvas-text {
    position: absolute;
    color:white;
    text-align:left;
    font-size:14pt;
}


.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}


.foot .puzlet-link { float:left }
.foot .org-link { float:right }

