svg {
    overflow: visible;
}

.histo rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

.parameters {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#container {
    position: relative;
    width: 480px;
    height: 480px;
    margin: 0 auto;
    top: 10px;
    z-index: 10;
    /*border: 2px solid #c00;*/
}

#histo {
    position: absolute;
    left: 370px;
    top: 90px;
    margin: 0 auto;
}

#plot {
    position: absolute;
    margin: 0 auto;
    top: 0;
}

#canvas {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    top: 0px;
    left: 60px;
}

#text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}


.foot .puzlet-link { float:left }
.foot .org-link { float:right }

